@model List<PetShop.Areas.Admin.Models.OrderDetails>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin đơn hàng  </h2>
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Đơn Giá
        </th>
        <th>
            Thành Tiền
        </th>
    </tr>

    @{ int i = 0;
        foreach (var item in Model) {
    <tr>
        <td>
            @(++i)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sum)
        </td>


    </tr>
        }
    }

</table>
<p>
    @Html.ActionLink("Back to list", "Index")
</p>
