@model List<Models.Framework.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>MÃ</th>
                <th>Tên</th>
                <th>Ngày Tạo</th>
              
              
                <th>Tình Trạng</th>
                <th>Công Cụ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="odd gradeX" id="row_@item.ID">
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.CreateDate</td>
                    <td>@item.Status</td>                  
                    <td class="center">
                        @Ajax.ActionLink("Xóa", "Delete",new {@id=item.ID}, new AjaxOptions
                        {
                              Confirm = "Bạn có muốn xóa bản ghi này",
                              OnComplete ="$('#row_"+@item.ID+"').remove()",
                              HttpMethod ="Delete"
                        })
                        @Html.ActionLink("Sửa", "Edit", new { id = item.ID })
                    </td>
                </tr>
            }

        </tbody>
    </table>
    @Html.ActionLink("Thêm", "Create", "Category", new { @class= "btn btn-primary" })
   
</div>