@model Models.Framework.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:auto;">
    <div style="float:left;width:30%; border:3px solid #b6ff00;  border-radius:10px;"><img style=" border-radius:10px;" src="@Model.Image" width="100%"></div>
    <div style="float:left; width:70%;height:100%;">
        <ul>
            <li>Mã    :  @Model.ID </li>
            <li>Tên   :  @Model.Name</li>
            <li style="color: red">Giá   :  @string.Format("{0:#,###}", Model.Price) VNĐ</li>
            <li>Mô tả :  @Model.Detail</li>
            <div class="btn-orange"><a style="color:white;text-decoration:none" href="/Cart/AddItem?productId=@Model.ID&quantity=1">Add Cart</a></div>

        </ul>
    </div>
</div>

