<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                @Html.ActionLink("Trang Chủ ", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Loại Hàng", "Index", "Category")
            </li>
            <li>
                @Html.ActionLink("Người dùng", "Index", "User")
            </li>
            <li>
                @Html.ActionLink("Mặt Hàng", "Index", "Product")
            </li>

            <li>
                @Html.ActionLink("Khách Hàng", "Index", "Customer")
            </li>
            <li>
                @Html.ActionLink("Đơn hàng", "Index", "Order")
            </li>
         
            
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
